<% include partials/header.ejs %>
    <div class="container">
      <div class="jumbotron">
      <h1>User Authentication & TODO LIST</h1>
      <p> Vandit kothari</p>
      </div>

    </div>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
